{
  "env": {
    "production": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": false,
              "targets": {
                "browsers": "> 5%"
              }
            }
          }
        ]
      ]
    },
    "development": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": false,
              "targets": {
                "browsers": "> 5%"
              }
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ]
    }
  }
}
